
.buttonDownvsUp {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  font-size: 14px;
}
.marginButton {
  margin-right: 16px;
}
.headerSize {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.size {
  border-color: #faebcc;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}